.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container > div {
    width: 48%;
    margin: 1%;
    line-height: 28px;
    font-size: 16px;
    input {
        width: 100%;
        padding-left: 8px;
        border: 1px solid #ced4da;
        border-radius: 4px;
    }
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .flex-container > div {
        width: 100%;
        margin: 1%;
        line-height: 28px;
        
    }
    .flex-container {
        .postcode, .state {
            width: 48%;
        }
    }

}