.AvatarField {
    margin-top: 20px;
    margin-bottom: 20px;
    .display-image {
        width: 60px;
        height: 60px;
        border-radius: 50%;
    }
    .image-info {
        margin-left: 20px;
        width: 200px;
        display: inline-block;
        vertical-align: middle;
        .view-link {
            font-size: 10px;
        }
    }
    .upload-btn {
        margin-top: 12px;
        float: right;
        border: 2px solid blue;
        color: blue;
    }
    .upload-btn:hover {
        color: white;
        background: blue;
    }
}